@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;700&display=swap");

body {
    font-family: "Kumbh Sans", sans-serif;
}

.font-bold {
    font-weight: 700;
}

.font-regular {
    font-weight: 300;
}

.gray {
    color: #3b3838;
}

.ml-10 {
    position: relative;
    left: 10rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #3b3838;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #2978b5 !important;
}

.menu-transparent {
    padding: 25px 0px 0 15px !important;
}

.f-40 {
    font-size: 40px;
}

.title-header {
    font-size: 40px;
}

.sub-header {
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
    margin-top: 2em;
    margin-bottom: 2em;
}

.f-12 {
    font-size: 12px;
}

.f-20 {
    font-size: 20px;
}

.f-16 {
    font-size: 16px;
}

.f-25 {
    font-size: 25px;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.contact {
    position: relative;
    top: 6em;
}

@media (max-width: 768px) {
    .title-header {
        font-size: 25px;
        text-align: center;
    }

    .sub-header {
        font-size: 15px;
        line-height: normal;
        text-align: center;
    }

    .center {
        text-align: center;
    }

    .ml-10 {
        position: relative;
        left: 1px;
    }
}
